/*.gauge-form {*/
  /*position: relative;*/
/*}*/

.gauge-form input[name=password] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.gauge-form select[name=vendor] {
  border-top: none;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.gauge-form select[name=hash_method] {
  border-top: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*.gauge-form .popover {*/
  /*display: block;*/
  /*position: absolute;*/
  /*width: 260px;*/
  /*margin: 0;*/
  /*right: -270px;*/
  /*left: auto;*/
  /*top: -35px;*/
/*}*/

/*.gauge-form .popover .arrow {*/
  /*top: 58px;*/
/*}*/

.gauge-form .input-group-sm {
  font-size: 14px;
  line-height: 1;
}

.gauge-form .input-group-sm .input-group-addon {
  border-left: none;
  border-right: none;
  border-top: none;
}

.jumbotron .results {
  font-size: 14px;
}